import i18n from "i18next";
import { initReactI18next } from "react-i18next";

{% if locales %}
{% for locale in locales %}
import {{ locale }} from "~/locales/{{ locale }}/translation.json";
{% endfor %}
{% endif %}

const resources = {
{% for locale in locales %}
  {{ locale }}: { translation: {{ locale }} },
{% endfor %}
};

i18n.use(initReactI18next).init({
  resources,
  lng: "{{ default_locale }}",
  fallbackLng: "{{ default_locale }}",
  interpolation: { escapeValue: false },
});

export default i18n;
