import type { Config } from "tailwindcss";

const config: Config = {
  content: [
    "./index.html",
    "./src/**/*.{ts,tsx}",
    "./pages/**/*.{ts,tsx}",
    "./renderer/**/*.{ts,tsx}",
  ],
  theme: {
    extend: {{ tailwind_extend | tojson(indent=2) }}
  },
  plugins: [],
};

export default config;
